{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
{{- $company := index $footer "company" }}
{{- $aboutUs := index $footer "aboutUs" }}
{{- $team := index $footer "team" }}
{{- $contact := index $footer "contact" }}
{{- $features := index $footer "features" }}
{{- $howItWorks := index $footer "howItWorks" }}
{{- $pricing := index $footer "pricing" }}
{{- $legal := index $footer "legal" }}
{{- $privacy := index $footer "privacy" }}
{{- $terms := index $footer "terms" }}
{{- $security := index $footer "security" }}
{{- $invest := index $footer "invest" }}


<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h3 class="footer-item-title">{{ $company }}</h3>
        <h4 class="footer-item"> {{ $aboutUs }} </h4>
        <a href="#team"><h4 class="footer-item"> {{ $team }}</h4></a>
        <!-- <h4 class="footer-item">Carreers</h4> -->
        <!-- <h4 class="footer-item">Contact</h4> -->
      </div>
      <div class="column is-3">
        <h3 class="footer-item-title"> {{ $invest }} </h3>
        <h4 class="footer-item">{{ $features}}</h4>
        <h4 class="footer-item">{{ $howItWorks}}</h4>
        <h4 class="footer-item">{{ $pricing}}</h4>
        <!-- <h4 class="footer-item">Login</h4> -->
      </div>

      <div class="column is-3">
        <h3 class="footer-item-title"> {{ $legal }}</h3>
        <h4 class="footer-item">{{ $privacy }}</h4>
        <h4 class="footer-item">{{ $terms }}</h4>
        <h4 class="footer-item">{{ $security }}</h4>
      </div>

      <div class="column is-3">
        <!-- <div class="columns"> -->
          <nav class="level is-mobile">
            <div class="level-left">
              {{- range $socialMedia }}
              <a class="level-item" href="{{ .link }}">
                <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
              </a>
              {{- end }}
            </div>
          </nav>
        <!-- </div> -->
        <div>
          <a href='#'>
            <img src="{{ printf "images/logos/bitmap_2.png" | relURL}}" style="width: 140px;">
          </a>
        </div>
        <div>
          <a href='#'>
            <img src="{{ printf "images/logos/bitmap.png" | relURL }}" style="width: 140px;">
          </a>              
        </div>
      </div>
      <!-- <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
        </div>
      </div>
      {{- range $quickLinks }}
        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>

            {{- if $bulmaLogo }}
            <a href="https://bulma.io" target="_blank">
              <img src="{{ "/images/logos/made-with-bulma.png" | relURL }}" alt="Made with Bulma" width="128" height="24">
            </a>
            {{- end }}
          </div>
        </div>
      </div> -->
    </div>
  </div>
</footer>
