{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <!-- <h1 class="title is-6 is-bold is-spaced"> -->
        <h1 class="symptom-checker-text">
        — COVID SYMPTOM CHECKER
        </h1> 
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle | markdownify }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <h2 class="self-assessment-test-text">Self Assessment test</h2>
        <div class="columns">&nbsp;</div>
        <p>
          <div class="columns">
            <div class="column is-6">
              <a href='https://play.google.com/store/'>
                <img src="images/logos/bitmap.png" srcset="images/logos/bitmap@2x.png 2x, images/logos/bitmap@3x.png 3x" class="store-logo">
              </a>
            </div>
            <div class="column is-6">
              <a href='https://play.google.com/store/'>
                <img src="images/logos/apple/bitmap.png" srcset="images/logos/apple/bitmap@2x.png 2x, images/logos/apple/bitmap@3x.png 3x" class="store-logo">
              </a>              
              <!-- <a class="button cta primary-btn raised" href="{{ $buttonLink }}">
                {{ $buttonText }}
              </a> -->
            </div>
            <!-- <div class="column">
              <a class="button cta primary-btn raised" href="{{ $buttonLink }}">
                {{ $buttonText }}
              </a>
            </div> -->
          </div>
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-4">
        <img src="images/illustrations/quarantina-staff.svg" class="Group-2">
      </div>
      <div class="column">
        <h2 class="title is-3">
          Takes less than 40 seconds of your time to update your daily health condition!
        </h2>
        <p>
         Q-Tracker lets you self-report any COVID related health symptoms you experience. Aggregate data is securely shared with select scientists, doctors and public health professionals who are actively working to stop the spread of COVID-19. 
        </p>
        <a href="https://covid.kardio.me" class="see-covid-in-your-area-text">
          See how COVID 19 is affected in your area!
        </a>
      </div>
    </div>
  </div>
</div>