{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium" id="info">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <!-- <div class="divider"></div> -->
      </div>
    </div>
    <div class="columns">
      {{- range $features }}

        <!-- <div class="flippable-card-container">
          <div class="flippable-card">
            <div class="side">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
            <div class="side back">Jimmy Eat World</div>
          </div>
        </div> -->
        
        <!-- <div class="column flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              front content
            </div>
            <div class="back">
              back content
            </div>
          </div>
        </div> -->

        <div
          class="column is-3 mt-60 box"
          style="border-radius: 5px; box-shadow: -1px 13px 20px 0 #f0f2f4; height: 229px;"
        >
            <div class="media-content mt-50">
              <div class="content">
                <div class="has-text-centered">
                  <img src="{{ printf "/images/features/%s.svg" .icon | relURL }}">
                </div>
                <p class="has-text-centered">
                  <span class="icon-box-title">{{ .title }}</span>
                  <span class="icon-box-text" style="text-align: left;">{{ .text | markdownify }}</span>
                </p>
              </div>
            </div>

          </div>
      {{- end }}
    </div>
  </div>
</section>
